# ======================
# Python
# ======================
__pycache__/
**/__pycache__/

*.pyc
*.pyo
*.pyd

# ======================
# Entornos virtuales
# ======================
venv/
.env

# ======================
# Editor / IDE
# ======================
.vscode/
